
.canvas{
    height: 100%;
    padding-left:2%;
    padding-top: 10px;
    overflow:auto;
    padding-bottom: 1%;
    padding-right: 1%;
}
.card_contain{
    padding: 2%;
    height: 250px;
    width:250px;
    border-radius: 2%;
    display: flex;
    flex-direction: column ;
    border: 1px solid rgb(150,150,150);
}
.card_contain:hover, .card_contain_bug:hover{
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.card1{
    padding:2%;
    flex:1.5;
    font-weight: 900;
    font-size: large;
    border-bottom: 1px solid rgb(200,200,200);
}
.card2{
    overflow-wrap: break-word;
    overflow: hidden;
    font-weight: 100;
    flex: 7;
    border-bottom: 1px solid rgb(200,200,200);
}
.card3{
    flex:1.5;

    color : rgb(100,100,100);
}
.card_group{
    display:grid;
    padding-top:2%;
    grid-template-columns: repeat(auto-fill, 250px);
    gap: 15px 25px;
}

.card_group_bug{
    display: grid;
    gap: 15px;
    margin-top: 10px;
}
.card_contain_bug{
    width:100%;
    border: 1px solid rgb(150,150,150);
    border-radius: 2%;
    height: 90px;
    display: flex;
    flex-direction: column ;
    padding-left: 1%;
}
.card1_bug{
    flex:9;
    overflow: hidden;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    font-weight: bolder;
    font-size: x-large;
    align-items: center;
}
.sub_card1_bug{
    flex:9;
    overflow: hidden; 
    line-height:1em;
}
.card2_bug{
    padding-left:1%;
    flex:1;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}
.tagandstatus{ 
    padding:5px;
    font-size: 15px;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    color: white;
    border-radius: 8px;
    display: inline-block;
}