.profilecard{
    padding :30px;
    border-radius: 15px;
    border: 1px solid rgb(200,200,200);
    width:50%;
    margin-top: 7%;
}
.profilecard:hover{
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.data-profile{
    font-size: large;
    line-height: 2em;
}
