[Desktop Entry]
Encoding=UTF-8
Name=Link to Leveling Up with React: Redux | CSS-Tricks
Type=Link
URL=https://css-tricks.com/learning-react-redux/
Icon=text-html
