[Desktop Entry]
Encoding=UTF-8
Name=Link to React lifecycle methods diagram
Type=Link
URL=https://projects.wojtekmaj.pl/react-lifecycle-methods-diagram/
Icon=text-html
