[Desktop Entry]
Encoding=UTF-8
Name=Link to React Redux Tutorial for Beginners: The Complete Guide (2020)
Type=Link
URL=https://www.valentinog.com/blog/redux/
Icon=text-html
