[Desktop Entry]
Encoding=UTF-8
Name=Link to 17 Bug and Issue Tracking Apps for Developers
Type=Link
URL=https://mashable.com/2014/02/16/bug-tracking-apps/
Icon=text-html
