.profilecard{
    padding :30px;
    border-radius: 15px;
    border: 1px solid rgb(200,200,200);
    width: max(50%, 300px);
    margin-top: 7%;
    height: max-content;
}
.profilecard:hover{
    box-shadow : 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.data-profile{
    font-size: large;
    line-height: 2em;
    overflow-wrap: break-word;
    overflow: auto;
}
.contain_profile{
    height: fit-content;
    min-height:80vh;
    display:flex;
    justify-content:center
}