.Section {
  border: 1px solid #6a6a6a;
  border-radius: 3px;
  background-color: #f5f5f5;
}
.Section__title {
  margin: 15px 20px 10px;
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  align-self: center;
}
.Section__highlight {
  grid-row: 2;
  background-color: white;
  border: 1px solid #6a6a6a;
  border-top-color: darkgray;
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
}
.Section__highlight--advanced {
  margin-top: -10px;
}
ul {
  display: contents;
}

.Initiator {
  margin: 0;
  padding: 10px 20px;
  text-align: center;
}
.Initiator--secondary {
  font-style: italic;
}
.Initiator h4 {
  font: inherit;
}
.Initiator a {
  font: inherit;
  color: inherit;
  text-decoration: none;
}
.Initiator a:hover,
.Initiator a:focus {
  text-decoration: underline;
}
.Initiator[data-column="3"] {
  padding-right: 0;
}
.Initiator[data-column="4"] {
  padding-left: 0;
  padding-right: 0;
}
.Initiator[data-column="5"] {
  padding-left: 0;
}

.Method {
  margin: 0 20px;
  padding: 8px 10px;
  font-size: 16px;
  text-align: center;
  list-style: none;
}
.Method--main {
  font-weight: 600;
}
.Method--secondary {
  font-style: italic;
}
.Method--endsInMiddle {
  margin-right: 0;
}
.Method.render {
  --background-color: #d9e8fd;
  --border-color: #6d8ac4;
}
.Method.pre-commit {
  --background-color: #fff2cd;
  --border-color: #ceae5b;
}
.Method.commit {
  --background-color: #d6e7d5;
  --border-color: #92b97c;
}
.Method a,
.Method span {
  display: block;
  width: 100%;
  height: 100%;
  margin: -9px -11px;
  padding: 8px 10px;
  background-color: var(--background-color);
  border: 1px solid var(--border-color);
  border-radius: 5px;
}
.Method a {
  font: inherit;
  color: inherit;
  text-decoration: none;
  position: relative;
}
.Method a:hover,
.Method a:focus {
  background-color: #ffffff;
  z-index: 1;
}
@supports (-moz-outline-radius: 5px) {
  .Method a:hover,
  .Method a:focus {
    outline: 2px solid var(--border-color);
    outline-offset: -1px;
    -moz-outline-radius: 5px;
  }
}
@supports (not (-moz-outline-radius: 5px)) {
  .Method a:hover,
  .Method a:focus {
    margin: -10px -12px;
    border-width: 2px;
  }
}

.Arrow {
  position: relative;
  width: 0px;
  border-left: 1px dashed black;
  margin: -19px auto calc(-19px + 5px) 50%;
}
.Arrow--solid {
  border-left-style: solid;
}
.Arrow--withAlt .Arrow {
  height: 20px;
  position: absolute;
  margin-top: 0;
  top: 0;
  transform: rotate(-30deg);
  transform-origin: top left;
}
.Arrow--withAlt .Arrow:before {
  content: '❌';
  display: block;
  position: absolute;
  bottom: -18px;
  right: -21px;
  transform: rotate(30deg);
}
.Arrow:after {
  content: '';
  display: block;
  position: absolute;
  bottom: -5px;
  left: -4px;
}
@supports (clip-path: polygon(0% 0%, 100% 0%, 50% 100%)) {
  .Arrow:after {
    width: 7px;
    height: 10px;
    background: black;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}
@supports (not (clip-path: polygon(0% 0%, 100% 0%, 50% 100%))) {
  .Arrow:after {
    width: 0;
    height: 0;
    border: 10px solid transparent;
    border-width: 10px 3.5px 0 3.5px;
    border-top-color: black;
  }
}

